<div class="row" style="margin-top:-24px;" class="grey lighten-3">
  <div class="col s12">
      <div class="row grey lighten-3">
      <ul id="admintabs" class="tabs" materialize="tabs">
        <li class="tab btn-flat col s4 center-align grey lighten-3"><a href="#admindash" #tab1>Admin Dashboard</a></li>
        <li class="tab btn-flat col s4 center-align grey lighten-3"><a href="#manageusers" #tab3>Manage Users</a></li>
        <li class="tab btn-flat col s4 center-align grey lighten-3"><a href="#studyoptions">Study Options</a></li>
      </ul>
      </div>
  </div>
</div>

    <div id="admindash" class="col s12 tabcontent"><admindashboard></admindashboard></div>
    <div id="manageusers" class="col s12 tabcontent"><adminmanageusers></adminmanageusers></div>
    <div id="studyoptions" class="col s12 tabcontent"><studyoptions></studyoptions></div>
