/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/ultima/theme.css';
@import '../node_modules/primeng/resources/primeng.css';

@import "~materialize-css/sass/components/color"; /* This must be included to use the included variables and the color function */
$primary-color: color("indigo", "base");
$secondary-color: color("blue", "lighten-1");

$roboto-font-path: "~materialize-css/fonts/roboto/"; /* This is needed so the materialize.scss file can load the font */
@import "~materialize-css/sass/materialize";


.picker__weekday-display, .picker__date-display {
    display:none;
    font-size: 0.2em;
    
}

.prefix ~ label {
    margin-top: -10px;
    margin-left: 1rem;
}

#modal2 .modal-content{
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 996px) {
    #modal2 {
    width: 100% !important;
    height: 90% !important;
}
}

@media (min-width: 996px) {
    .tabs {
        overflow-x:hidden;
    }
}




.trialarrow {
    color: lightgray;
    font-size:0.8em;
    cursor:pointer;
}

.trialarrow:hover {
    font-size: 0.8em;
    color: teal;
}

#admintabs .tab a {
    color:#2196f3;
    transition:all 0.6s ease;

    
}

#admintabs .tab a.active {
    background-color:#2196f3;
    color: white;
}


#projtabs .tab a {
    color:#2196f3;
    transition:all 0.6s ease;

    
}

#projtabs .tab a.active {
    background-color:#2196f3;
    color: white;
    

}

.tabs .indicator {
    display:none;

}



@media (max-width: 1200px) {
#dashboardtable button {
    margin-top:4px;
     padding-right:20px;
    padding-left:20px;
}
}

@media (min-width: 1200px) {
#dashboardtable button {
    margin-top:4px;
     padding-right:24px;
    padding-left:24px;
}
}




